slug: "cups"
name: "CUPS"
description: "Manage & share printers"
version: "0.13"
init: false
host_network: true
usb: true

arch:
  - aarch64
  - amd64
  - armhf
  - armv7
  - i386

map:
  - addon_config:rw

ports:
  631/tcp: 631
  631/udp: 631

startup: services